<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap/css/bootstrap.min.css' %}" />
		<script src="{% static 'polls/bootstrap/js/bootstrap.min.js' %}" ></script>
	</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Polls App</h1>
	</div>
{% if user.is_authenticated %}
<h1>Hey {{ user.username }}! </h1>
{% else %}
<h1>Hello World! </h1>
{% endif %}

{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}
<a href="/polls/register/">Register Here</a>
<br />
<a href="/polls/login/">Login</a>
</div>
</body>
</html>